:root {
    --color-1:#7C3035;
    --color-2:#332828;
    --color-3:#B5CC70;
    --color-4:#D3E896;
    --color-5:#F2E6E7;
}

*::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* names of Font Styles */

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Thasadith', sans-serif; 
*/

/* layout */

body {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    height: 100vh;
}

.parallax {
    display: relative;
    min-width: 100%;
    min-height: 100vh;
    background: url("./image/puma.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(255,255,255,0.0),rgba(0,0,0,.5));
    position: absolute;
    bottom: 0;
}

.title {
    display: block;
    position: relative;
    padding-left: 1%; 
    left: 3vh;
    margin: 0;
    border-left: #fff;
    border-left-style: solid;
    border-left-width: 3px;
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.subtitle {
    display: block;
    position: relative;
    padding-left: 1%; 
    left: 3vh;
    margin: 0;
    border-left: #fff;
    border-left-style: solid;
    border-left-width: 3px;
    color: #fff;
    font-family: 'Thasadith', sans-serif; 
    font-size: 2em; 
}

.menu {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    top: 0;
}



/* Aqui termina el layout */

/* theme */

